.login-container {
    width: 100%;
    color: white;
    height: 100vh;
    background-image: url("https://repository-images.githubusercontent.com/299409710/b42f7780-0fe1-11eb-8460-e459acd20fb4");
    position: relative;

    .logo {
        color: red;
        font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        font-size: 40px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: -2px;
        text-align: center;
        border-radius: 50%;
        width: 200px;
        height: 200px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

    .login-form {
        text-align: center;
        width: 400px;
        height: 150px;
        padding: 20px;
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        .form-group {
            margin-top: 20px;
            padding-bottom: 20px;
        }

        input {
            height: 50px;
            background-color: rgba(0, 0, 0, 0.6);
            color: white;

            &::placeholder {
                color: white;
            }
        }

        .btn-container {
            position: relative;

            .btn {
                margin-top: 30px;
                background-color: red;
                width: 100%;
                border: 0cap;
            }
        }
    }
}